name: Security audit
on:
  push:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
permissions:
  issues: write
  checks: write
  contents: read
jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust build environment
        uses: ./.github/actions/setup-rust-build
        with:
          skip-cache: ${{ startsWith(github.head_ref, 'renovate/') }}
      - uses: rustsec/audit-check@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
