name: REUSE compliance
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
jobs:
  reuse:
    name: REUSE compliance check
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: fsfe/reuse-action@772649cfa03a64a08c458c7cca9a6a473d74e7f9 # v6
