name: License headers check
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
jobs:
  check:
    name: License headers check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Install addlicense
        run: |
          wget -q https://github.com/google/addlicense/releases/download/v1.1.1/addlicense_1.1.1_Linux_x86_64.tar.gz
          echo "adad31f12ac4af835640dcc88284954706e38a3302eed07aa824926a12ab3498  addlicense_1.1.1_Linux_x86_64.tar.gz" | sha256sum -c -
          tar -xzf addlicense_1.1.1_Linux_x86_64.tar.gz
          sudo mv addlicense /usr/local/bin
      - name: Check license headers
        run: >
          addlicense \

            -check \
            -c "Semiotic AI, Inc." \
            -l "apache" \
            -s=only \
            -ignore '.github/workflows/*.yml' \
            -ignore '.github/*.yml' \
            -ignore '.github/workflows/*.yaml' \
            -ignore '.github/*.yaml' \
            -ignore 'crates/forrestrie/protos/type.proto' \
            -ignore 'crates/firehose-protos/protos/bstream.proto' \
            -ignore 'crates/firehose-protos/protos/block.proto' \
            -ignore 'crates/firehose-protos/protos/firehose.proto' \
            .
