name: tests
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
jobs:
  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    timeout-minutes: 5
    container:
      image: rust:1.82-bookworm
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - run: |
          rustup component add rustfmt
          cargo fmt --all -- --check
  clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: rust:1.82-bookworm
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup Rust build environment
        uses: ./.github/actions/setup-rust-build
        with:
          skip-cache: ${{ startsWith(github.head_ref, 'renovate/') }}
      - run: |
          rustup component add clippy
          # Temporarily allowing dead-code, while denying all other warnings
          cargo clippy --all-features --all-targets -- -A dead-code -D warnings
  test:
    name: cargo test (${{ matrix.rust }})
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        rust: ['1.82', 'stable']
        include:
          - rust: '1.82'
            image: rust:1.82-bookworm
          - rust: 'stable'
            image: rust:bookworm
    permissions:
      contents: write
      pull-requests: write
      actions: read
    container:
      image: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup Rust build environment
        uses: ./.github/actions/setup-rust-build
        with:
          skip-cache: ${{ startsWith(github.head_ref, 'renovate/') }}
      - name: Run tests
        run: cargo test --all-features --workspace
  # Cannot do with llvm-cov, see https://github.com/taiki-e/cargo-llvm-cov/issues/2
  test-docs:
    name: cargo test docs code snippets
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
      actions: read
    container:
      image: rust:1.82-bookworm
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup Rust build environment
        uses: ./.github/actions/setup-rust-build
        with:
          skip-cache: ${{ startsWith(github.head_ref, 'renovate/') }}
      - name: Test documentation code snippets
        run: cargo test --doc --all-features --workspace
  build:
    name: cargo check
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: rust:1.82-bookworm
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup Rust build environment
        uses: ./.github/actions/setup-rust-build
        with:
          skip-cache: ${{ startsWith(github.head_ref, 'renovate/') }}
      - name: Cargo check
        run: cargo check
  release-check:
    name: release-please dry-run
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      pull-requests: write
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: '18'
      - name: Install release-please CLI
        run: npm install -g release-please
      - name: Run release-please dry-run
        run: |-
          release-please release-pr \
            --repo-url=semiotic-ai/veemon \
            --token=${{ secrets.GITHUB_TOKEN }} \
            --manifest-file .release-please-manifest.json \
            --target-branch=${{ github.base_ref }} \
            --dry-run
